button:hover{
	cursor: pointer;
}

.header-wrap{
	position: relative;
	width: 100%;
	height: auto;
}

.header-wrap .banner{
	width: 100%;
	height: auto;
}

.header-wrap .nav-wrap{
	width: 100%;
	position: absolute;
	top: 60px;
	left: 0;
}

.nav{
	justify-content: space-between;
	align-items: center;
}
.search,.nav-right{
	z-index: 999;
}
.search .search-input{
	width: 290px;
	height: 40px;
	background: rgba(250, 247, 247, 1);
	border-radius: 20px;
	color: rgba(121, 61, 59, 1);
	font-size: 20px;
	line-height: 50px;
	padding: 0 24px;
}

.web-title{
	width: 100%;
	position: absolute;
	left: 0;
	text-align: center;
	color: #fff;
	font-size: 36px;
}
.banner-text{
	position: absolute;
	left: 0;
	top: 200px;
	width: 100%;
}

.search-icon:hover{
	cursor: pointer;
}

.content-wrap{
	background: linear-gradient(180deg, #955B5B 0%, #955B5B 0%, #EBCBBD 50%, #C79680 100%, #C79680 100%);
}


.shop-btn{
	padding-top: 28px;
}

.shop-btn button{
	font-size: 60px;
	line-height: 60px;
	letter-spacing: 0px;
	color: #FAF7F7;
	padding: 20px 105px;
	border-radius: 60px;
	background: #BB9494;
}

.banner-wrap{
	margin-top: 33px;
}

.banner-slider{
	position: relative;
	border: 10px solid #955B5B;
	padding: 90px 0;
	justify-content: center;
}

.banner-img{
	width: 40vw;
}

.slider-title-wrap{
	justify-content: center;
}

.slider-title{
	position: relative;
	font-family: BM Yeonsung-Regular;
	font-size: 70px;
	line-height: 80px;
	letter-spacing: 0px;
	color: #1E1917;
}

.slider-title::after{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 4px;
	background-color: #1E1917;
}

.slider-content{
	text-align: center;
	font-size: 24px;
	padding-right: 24px;
	font-weight: 400;
	color: #1E1917;
}

.dot-list{
	position: absolute;
	left: 72px;
	bottom: 60px;
	justify-content: center;
	width: calc(40vw);
}

.dot-item{
	width: 15px;
	height: 15px;
	background: #FAF7F7;
	border-radius: 50%;
	margin-right: 12px;
	opacity: 0.5;
}
.dot-item.active{
	opacity: 1;
}

.arrow-back{
	position: absolute;
	right: 0;
	z-index: 999;
}

.arrow-back:hover{
	cursor: pointer;
}

.slider-item{
	display: none;
	transition: all 2s;
}
.slider-item.active{
	display: flex;
}

.slider-item .right{
	flex: 1;
	align-items: center;
}


.product-wrap{
	padding: 42px 0;
}

.title{
	font-family: BM Yeonsung-Regular;
	font-size: 80px;
	font-weight: normal;
	line-height: 80px;
	letter-spacing: 0px;
	color: #000000;
}

.product-list{
	border-radius: 22px;
	background: #F4E7CE;
	box-sizing: border-box;
	border: 8px solid #F4E7CE;
	flex-flow:row wrap;
	justify-content: space-between;
	padding: 48px 40px;
}

.product-item{
	width: 250px;
	justify-content: center;
	margin-bottom: 48px;
	color: #000000;
}

.product-item img{
	width: 250px;
	height: 250px;
}
.product-item .product-name{
	font-size: 18px;
	line-height: 18px;
	letter-spacing: 0px;
	min-height: 60px;
}

.product-price{
	font-size: 36px;
}

.add-cart{
	border-radius: 8px;
	background: rgba(132, 50, 50, 0.78);
	font-size: 20px;
	line-height: 20px;
	letter-spacing: 0px;
	color: #FAF7F7;
	padding: 8px 12px;
}

.context{
	font-size: 28px;
	color: #843232;
}

.contact-wrap{
	padding-top: 100px;
}
.contact{
	justify-content: space-between;
	color: #FAF7F7;
}
.index-links .links-list{
	justify-content: center;
	flex-wrap: wrap;
	width: 600px;
}
.index-links .links-list a{
	margin-right: 48px;
	margin-bottom: 12px;
	color: #FAF7F7;
	font-size: 24px;
	text-decoration: underline;
}

.email-form .form input{
	width: 300px;
	height: 60px;
	border: 2px solid rgba(114, 52, 52, 0.91);
	font-size: 24px;
	padding: 0 24px;
	background-color: transparent;
	color: #FAF7F7;
}

.email-form .form button{
	border: 2px solid rgba(114, 52, 52, 0.91);
	width: 200px;
	height: 60px;
	background: #793D3B;
	font-size: 24px;
	color: #FAF7F7;
}


.line{
	width: 100%;
	height: 2px;
	background-color: #843232;
	margin-top: 48px;
}
.app-list{
	padding-top: 48px;
	justify-content: space-between;
}
.app-list a{
	padding: 12px 24px;
	background: #FFFFFF;
	border: 1px solid #000000;
	font-size: 20px;
	color: #843232;
	font-weight: 500;
}
.index-bottom-wrap{
	padding: 12px 0;
}

.index-bottom-wrap{
	font-size: 20px;
	justify-content: space-between;
	align-items: flex-end;
	color: #40342F;
}

.index-bottom-wrap .icon{
	width: 50px;
	height: 50px;
	margin-right: 24px;
}

.my-header-wrap{
	position: relative;
	width: 100%;
	padding: 20px 0;
	align-items: center;
	background: linear-gradient(180deg, rgba(206,119,119,0.51) 0%, rgba(206,119,119,0.51) 0%, rgba(180,103,103,0.61) 35%, rgba(155,88,88,0.76) 68%, rgba(142,80,80,0.94) 100%, rgba(142,80,80,0.94) 100%);
}

.my-nav{
	position: relative;
	width: 450px;
	font-size: 20px;
	flex-wrap: wrap;
}

.my-nav a{
	color: #793D3B;
	margin-right: 48px;
	margin-bottom: 12px;
	line-height: 40px;
}

.my-info{
	align-items: center; 
}

.my-info .search-input{
	width: 228px;
	height: 50px;
	border-radius: 25px;
	background: #FAF7F7;
	padding: 0 12px;
	font-size: 16px;
	color: #793D3B;
	line-height: 50px;
}

.menu-wrap{
	align-items: center;
	position: relative;
	padding: 20px 0;
	background: rgba(250, 244, 228, 0.64);
}

.menu{
	justify-content: space-between;
	flex-wrap: wrap;
}

.menu .icon{
	width: 20px;
	position: absolute;
	right: 48px;
}

.menu-item {
	display: flex;
	align-items: center;
	position: relative;
	width: 360px;
	margin-bottom: 12px;
	text-align: center;
}






*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	width: 100%;
	overflow-x: hidden;
	font-family: Helvetica-Bold;
}

button {
	border: none;
}

input,
textarea {
	outline: none;
	box-shadow: none;
	border: none;
}

@font-face {
	font-family: "Helvetica-Bold";
	src: url("../font/helvetica-light.otf");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "BM Yeonsung-Regular";
	src: url("../font/YeonSung-Regular.ttf");
	font-weight: 400;
	font-style: normal;
}
a:hover {
	cursor: pointer;
}

.flex{
	display: flex;
}

.flex-column{
	display: flex;
	flex-direction: column;
}

.align-items-end{
	align-items: flex-end;
}

.align-items-center{
	align-items: center;
}

.justify-content-center{
	justify-content: center;
}

.justify-space-between{
	justify-content: space-between;
}

.div-center{
	text-align: center;
}

.top12{
	margin-top: 12px;
}

.top24{
	margin-top: 24px;
}

.top36{
	margin-top: 36px;
}

.top48{
	margin-top: 48px;
}
.top60{
	margin-top: 60px;
}
.top72{
	margin-top: 72px;
}
.top84{
	margin-top: 84px;
}
.top96{
	margin-top: 96px;
}
.top108{
	margin-top: 108px;
}
.left8{
	margin-left: 8px;
}
.left12{
	margin-left: 12px;
}

.left24{
	margin-left: 24px;
}

.left36{
	margin-left: 36px;
}

.left48{
	margin-left: 48px;
}

.left60{
	margin-left: 60px;
}

.left72{
	margin-left: 72px;
}

.left84{
	margin-left: 84px;
}

.left96{
	margin-left: 96px;
}
.left108{
	margin-left: 108px;
}
.left140{
	margin-left: 140px;
}
.left180{
	margin-left: 180px;
}
.size12{
	font-size: 12px;
}
.size16{
	font-size: 16px;
}
.size18{
	font-size: 18px;
}
.size20{
	font-size: 20px;
}
.size22{
	font-size: 22px;
}
.size24{
	font-size: 24px;
}

.size28{
	font-size: 28px;
}

.size30{
	font-size: 30px;
}

.size32{
	font-size: 32px;
}

.size36{
	font-size: 36px;
}
.size48{
	font-size: 48px;
}
.size60{
	font-size: 60px;
}

.line-height0{
	line-height: 0px;
}
.weight500{
	font-weight: 500;
}

.bold{
	font-weight: bold;
}

.div-right {
	text-align: right;
}

.width36{
	width: 36px;
	height: 36px;
}

.center{
	width: 1440px;
	margin:  0 auto;
}

.color1{
	color: #793D3B;
}
.color2{
	color: #000;
}

.color3{
	color: #707070;
}

.color4{
	color: #9F5E5D;
}

.font{
	font-size: 22px;
	color: #000;
}

.bottom40{
	margin-bottom: 40px;
}

.top160{
	margin-top: 160px;
}

.flex1{
	flex: 1;
}

.width24{
	width: 24px;
	height: 24px;
}

.width20{
	width: 20px;
}

.width200{
	width: 200px;
}


